* text=auto

*.sql       linguist-language=PLpgSQL
drop.sql    linguist-detectable=false
insert.sql  linguist-detectable=false

Dockerfile.*  linguist-detectable=true
Dockerfile.*  linguist-language=Dockerfile
*.yaml        linguist-detectable=true
*.yaml        linguist-language=Dockerfile