.background {
    background-color: rgb(255, 246, 230);
    box-shadow: 1px 1px 5px rgb(200, 200, 200);  
}

button {
    background-color: rgb(242, 225, 179);
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
}