.myForm {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-shadow: 1px 1px 5px black;
    border-radius: 15px;
}

.myHeader {
    font-size: x-large;
    font-weight: bold;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 50%;               
    background-color:#000000;
    height: 1px;
}