.profileBlock{
    max-width: auto;
    max-height: auto;
    padding: 10px;
    box-shadow: 1px 1px 5px rgb(200, 200, 200);   
    border-radius: 15px;
    background-color: white;
    margin-bottom: 15px;
}

.fullName{
    font-weight: bold;
    font-size: large;
}